{% extends 'basic.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Home Page{% endblock title%}</title>
    <style>
        .center{
            display: block;
            border-radius: 500px;
             margin-left: 70%;
            margin-right: 50px; 
            height : 40%;
            width: 50%;
            
        }
    </style>
</head>
<body>
    {%block body%}
    
<img src="{% static 'images/download.png' %}" width = '400px' height = '200px'  alt="BIRDS">
<br><br><br>
<div style=" font-size: 30px" class="center">WE SING IN THE MORNING <br><br> &nbsp;&nbsp;&nbsp;
    AND PRAY IN THE NIGHT <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
AND WANT YOUR FUTURE <br><br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
ALWAYS BRIGHT!!</div>
    {% endblock body%}
</body>
