{% extends 'basic.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title%}Subject Registered{% endblock title%}</title>
</head>
<body>
    {% block body %}
    <h1>SUBJECT REGISTERED</h1>
    <br>
  <table>
      
      <tr>
        <td>COURSE CODE  &nbsp;&nbsp;</td>
        <td>COURSE NAME  &nbsp;&nbsp;</td> 
        <td>CREDIT  &nbsp;&nbsp;</td> 
        
     
        
      </tr>
      {% for i in ll %}
      <tr>
                           
         <td>{{ i.course_code }}  &nbsp;&nbsp;</td>
         <td>{{ i.course_name }}  &nbsp;&nbsp;</td>
         <td>{{ i.course_credit }}  &nbsp;&nbsp;</td>
             
      </tr>
  {% endfor %}
    
    </table>




    {% endblock %}
</body>
</html>